<!DOCTYPE html>
<html>

<head>
    <title>Result</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div class="container">

    <div class="form-box">

        <h1 class="title">Form Submitted Successfully!</h1>

        <h4>Welcome <%= name %></h4>

        <p><strong>Email:</strong> <%= email %></p>

        <p><strong>Phone:</strong> <%= phone %></p>

        <p><strong>Age:</strong> <%= age %></p>

    </div>

</div>

</body>

</html>